.alec{
  display: flex;
  justify-content:center;
}

.project{
  width: 200px;
  height: 200px;
  margin-bottom: 100px;
}
// .imgContainer{
//   height: 300px;
//   width: 300px;
// }
.imgContainer{
  height: 50px;
}
.imgContainer img {
  height: 200px;
  object-fit:contain;
}

.Links{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
  height: 200px;

  span a img {
    width: 30px;
    height: 30px;
  }
}


a{
  font-size: 12px;
}

a:visited{
  color:black;
}
a:link{
  color: black;
}

.Links{
  margin-right: 30px;
}

.Body{
  width: 400px;
  text-align: left;
}

a{
  display: inline;
}
tr h1 {
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
